.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

header h1 {
  margin-bottom: 1vh;
  text-align: center;
}

.informacion {
  display: flex;
}

.table {
  display: block;
  width: 100%;
  overflow-x: auto;
  text-align: center;
  align-content: center;

}

table td {
  cursor: pointer;
  width: 100%;
}

.btn {
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  height: fit-content;

}
.btn-no-food{
  display: flex;
  flex-direction: column;
}