<div class="d-flex">
  <div class="sidebar bg-dark col-md-2 px-0">
      <ul class="list-group">
          <li class="list-group-item bg-dark border-0"><a href="#" class="text-white">Inicio</a></li>
          <li class="list-group-item bg-dark border-0"><a href="#" class="text-white">Añadir Comida</a></li>
          <li class="list-group-item bg-dark border-0"><a href="#" class="text-white">Configuración</a></li>
          <li class="list-group-item bg-dark border-0"><a href="#" class="text-white">Logout</a></li>
      </ul>
  </div>
  <div  *ngIf="informacionNutricional | async  as informacion"ng class="main-content col-md-10 px-4">
      <header>
          <h1 class="my-4">Nombre de tu App</h1>
      </header>
      <main>
          <section class="charts bg-white rounded p-4 mb-4">
              <div class="container-fluid">
                 <app-charts [proteinData]="informacion.proteinas" [carbData]="informacion.hidratosCarbono" [fatData]="informacion.hidratosCarbono"></app-charts>
              </div>
          </section>
          <section class="mealList bg-white rounded p-4 justify-content-center align-items-center" >
              <table class="table table-bordered mealList">
                  <thead>
                      <tr>
                          <th>Tipo comida</th>
                          <th>Kcal</th>
                          <th>Hidratos</th>
                          <th>Proteinas</th>
                          <th>Grasas</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let comida of informacion.comidas" (click)="editar(comida)">
                          <td>{{comida.tipoComida}}</td>
                          <ng-container *ngFor="let alimento of comida.listadoAlimentos">
                          <td>{{alimento.informacion.kcal}}</td>
                          <td>{{alimento.informacion.kcal}}</td>
                          <td>{{alimento.informacion.kcal}}</td>
                          <td>{{alimento.informacion.kcal}}</td>
                          </ng-container>
                      </tr>
                  </tbody>
              </table>
              <div class="d-flex justify-content-center">
                  <button class="btn btn-primary" *ngIf="informacion.comidas.length<5" (click)="addComida()">Añadir comida</button>
              </div>
          </section>
      </main>
  </div>
</div>
