.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  
}

h1{
  font-size: 80px;
  margin-top: 10vh;
  color: #BDD142;
}

.informacion {
  display: flex;
}

.table {
  display: block;
  width: 100%;
  overflow-x: auto;
  text-align: center;
  align-content: center;

}

table td {
  cursor: pointer;
  width: 100%;
}

.btn {
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #7E407F;
  height: fit-content;

}
.btn-no-food{
  display: flex;
  flex-direction: column;
}