.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

header h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.informacion {
  display: flex;
}

.table {
  display: table;
  width: 100%;
  text-align: center;
}

table td {
  cursor: pointer;
  width: 100%;
}

.btn {
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  height: fit-content;
  
}
