<div class="principal d-flex justify-content-center align-items-center vh-100">
    <div class="container text-center">
       
            <h1>Bienvenid@</h1>
            <h2>FitLife</h2>
            <p>Si dispones de una cuenta haz click en login</p>
            <p>Si no dispones de una cuenta haz click en registrar</p>
        
            <button (click)="login()" class="btn-login">Login</button>
            <button (click)="registro()" class="btn-registrar">Registrar</button>
        
    </div>
</div>

