<div class="principal d-flex justify-content-center align-items-center vh-100">
    <div class="container text-center">
       
            <h1>Bienvenid@</h1>
            <h2>Nombre de la App</h2>
            <p>Si dispones de una cuenta haz click en login, sino regístrate para comenzar a usar la app</p>
        <nav class="my-4">
            <button (click)="login()" class="btn btn-primary m-5">Login</button>
            <button (click)="registro()" class="btn btn-secondary m-5">Registrar</button>
        </nav>
    </div>
</div>

