.container {
    max-width: 800px;
}

h1 {
    font-size: 80px;
    margin-top: 20vh;
    color: #BDD142;

}
h2 {
    font-size: 50px;
    margin-bottom: 8vh;
}

input {
    width: 100%;
    height: 1vh;
    font-size: 28px;
    padding: 2vh;
    margin-top: 4vh;
    text-align: center;
}



.btn-login,
.btn-cancel {
    margin-top: 4vh;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    width: 12vh;
    height: 5vh;    

}

.btn-login {
    background-color: #7E407F;
    margin-right: 2vh;
}

.btn-cancel {
    background-color: #BDD142;
    margin-left: 2vh;
}