<app-menu></app-menu>
<div class="container">
  <h1 class="my-4 text-center">FitLife</h1>
  <h2 class="my-4 text-center">Buscador de alimentos</h2>

  <div class="buscador col-md-4">
    <input class="form-control" [(ngModel)]="nombre" (input)="buscar(nombre)" type="text" name="nombre" id="nombre"
      placeholder="Introduce el nombre" aria-label="Nombre del alimento" />
  </div>

  <div class="col-md-8" *ngIf="nombre && nombre.trim().length">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Kcal</th>
          <th>Hidratos de Carbono</th>
          <th>Proteína</th>
          <th>Grasas</th>
        </tr>
      </thead>
      <tbody *ngIf="alimentoInformacion | async as informacion">
        <tr *ngFor="let alimento of informacion" (click)="seleccionarInfo(alimento)">
          <td>{{alimento.codigoAlimento}}</td>
          <td>{{alimento.nombre}}</td>
          <td>{{alimento.kcal}}</td>
          <td>{{alimento.hidratosCarbono}}</td>
          <td>{{alimento.proteinas}}</td>
          <td>{{alimento.grasas}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="justify-content-center">
    <button class="btn-cancelar" (click)="cancelar()">Cancelar</button>
  </div>

</div>