<nav class="navbar navbar-expand-lg">

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/dashboard" (click)="home()">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/configurar">Configurar</a>
            </li>          
            <li class="nav-item active">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
