.navbar{
    display: flex;
    padding: 0.5vh;
    align-content: flex-start;
    background-color: #7E407F;
    
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 80%;
    margin: 0;
    margin-left: 5vh;
    padding: 0;
}
li{
    cursor: pointer;
    width: 100%;
    text-align: center;
}

li:hover{
    background-color: white;
    
}

a{
    color: white;
    font-size: 25px;
}

a:hover{
    color: #7E407F;
}